.page_body {
  height: 90vh;
}

.page_header {
  display: flex;
  flex-flow: row nowrap;

  margin: 0 auto;
  padding: 20px;
  border: 0;

  background-color: #fef0ff;

  -webkit-box-shadow: 1px 10px 5px 0px rgba(22, 0, 24, 0.192);
  -moz-box-shadow:    1px 10px 5px 0px rgba(22, 0, 24, 0.192);
  box-shadow:         1px 10px 5px 0pxrgba(22, 0, 24, 0.192);
}

.main_nav {
  display: inline;
  line-height: 80px;
}

.canvas_options {
  display: flex;
  flex-flow: column nowrap;
}

.menu_button {
  padding: 20px 0;
  background-color: transparent;
  border: 0;
  outline: none;
}

.page_title {
  margin-right: auto;
  padding: 0 30px;
  text-transform: uppercase;
}

.page_main {
  display: flex;
  flex-flow: row nowrap;
}

.side_menu {
  min-width: 20%;
  margin: 20px 0;
  padding: 0;
}

.options_group {
  min-width: 20%;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
  background-color: #fef0ff;

  -webkit-box-shadow: 1px 10px 5px 0px rgba(22, 0, 24, 0.192);
  -moz-box-shadow:    1px 10px 5px 0px rgba(22, 0, 24, 0.192);
  box-shadow:         1px 10px 5px 0px rgba(22, 0, 24, 0.192);
}
.option {
  padding: 10px 30px;
  border-bottom: 1px solid purple;
}

.option:last-child {
  border-bottom: 0;
}

.canvas_options.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

#canvas {
  background-color: rgb(250, 242, 233);
  margin: 50px auto;
  -webkit-box-shadow: inset 0px -4px 16px 0px rgba(0,0,0,0.59);
-moz-box-shadow: inset 0px -4px 16px 0px rgba(0,0,0,0.59);
box-shadow: inset 0px -4px 16px 0px rgba(0,0,0,0.59);
}